# ---------------------------------------------------------------
# Icarus Theme Configuration
# ---------------------------------------------------------------

# Header
logo: css/images/logo.png   # Path to logo image; leave blank to hide

menu:
  Home: /
  Archives: archives
  Categories: categories    # Requires a categories page in source/
  Tags: tags                # Requires a tags page in source/
  About: about

# Content
excerpt_link: Read More     # "Read More" link text shown after post excerpts
fancybox: true              # Enable Fancybox image lightbox

# Profile sidebar
profile: true               # Show the profile bar in the header
gravatar: false             # Use Gravatar (requires email below); false = use avatar image

# Sidebar
sidebar: right              # Position: right | bottom | false (disabled)
widgets:
  - recent_posts
  - category
  - tag
  - tagcloud
  - archive
thumbnail: true             # Show post thumbnails in sidebar and archive pages

# Social contacts (displayed as Font Awesome icons)
contacts:
  github: https://github.com/cser
  twitter: https://twitter.com/cser
  facebook: https://facebook.com/cser
  rss: atom.xml

# External links shown in the links widget
links:
  Hexo: https://hexo.io

# Miscellaneous
google_analytics:           # Google Analytics 4 Measurement ID (e.g. G-XXXXXXXXXX)
favicon: favicon.png        # Path to favicon
