# ---------------------------------------------------------------
# Hexo Site Configuration
# Docs: https://hexo.io/docs/configuration.html
# ---------------------------------------------------------------

# Site info
title: Icarus
subtitle:
description: A Hexo blog powered by the Icarus theme
author: cser
author_title: 'Web Developer & Designer'
avatar: css/images/avatar.png
location: 'Your City, Country'
follow: https://github.com/cser
language: en              # Supported: en | zh-CN | ja | id
timezone:
since: 2024               # Copyright start year shown in the footer

# URL
## If deploying to a subdirectory, set url and root accordingly:
##   url: https://cser.github.io/blog
##   root: /blog/
url: https://cser.github.io
root: /
permalink: :year/:month/:day/:title/
permalink_defaults:

# Directories
source_dir: source
public_dir: public
tag_dir: tags
archive_dir: archives
category_dir: categories
code_dir: downloads/code
i18n_dir: :lang
skip_render:

# Writing
new_post_name: :title.md
default_layout: post
titlecase: false
external_link:
  enable: true
filename_case: 0
render_drafts: false
post_asset_folder: false
relative_link: false
future: true
highlight:
  enable: true
  line_number: true
  auto_detect: false
  tab_replace: ''

# Category & Tag
default_category: uncategorized
category_map:
tag_map:

# Date / Time format (uses Moment.js)
date_format: YYYY-MM-DD
time_format: HH:mm:ss

# Pagination
per_page: 6
pagination_dir: page

# Theme
theme: icarus

# Comments (Disqus)
# disqus_shortname: cser

# Deployment
## Docs: https://hexo.io/docs/one-command-deployment.html
deploy:
  type: git
  repository: https://github.com/cser/cser-blog.git
  branch: gh-pages
